
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.egg

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Фикстуры (если содержат тестовые данные)
recipes/fixtures/ingredients.json
recipes/fixtures/recipes.json

# Виртуальное окружение
.venv/
venv/
env/
ENV/
*.venv/

# Редакторы и IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Системные файлы
.DS_Store
Thumbs.db

# Локальные конфигурации
*.local
*.env
.env*
!.env.example
